# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
# Make sure to edit this in case custom distribution path is specified in the config file
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
